.title {
  font-size: 22px;   
  font-weight: bold; 
  text-align: center; 
}

h1 {
  font-size: 20px;   
}

h2 {
  font-size: 18px;   
}

.highlight {
  background-color: yellow;  
  font-weight: bold;         
}